$styles: about-us;
.#{$styles} {
    background-color: $color_background_about-us;
    padding-top: 78px;
    padding-bottom: 74px;
    &__title {
        color: $font_color_light;
        @include Raleway_Bold_90;
    }
    &__text-top, &__text-bottom {
        color: $font_color_light;
        @include Raleway_Light_17;
        line-height: 1.5;
    }
    &__text-top{
        margin-bottom: 24px;
        
    }
   @media (max-width: 375px) {
       &__logo {
           width: 345px;
       }
   }
   @media (max-width: 375px) {
       &__title {
           font-size: 60px;
           text-align: center;
       }
   }
}
