$styles: subscribe;
.#{$styles} {
    background-image: url(../img/subscribe/subscribe_background.png);
    background-repeat: no-repeat;
    background-position: right;
    padding-top: 146px;
    padding-bottom: 165px;
    &__title  {
        @include Raleway_Bold_40;
         color: $font_color_dark;
         margin-bottom: 34px;
     }
     @media (max-width: 375px) {
         &__title {
             text-align: center;
             margin-bottom: 4px;
         }
     }
     &__text {
         @include Raleway_Light_15;
         color: $font_color_dark;
         margin-bottom: 34px;
     }
     @media (max-width: 375px) {
         &__text {
             font-size: 14px;
             text-align: center;
             margin-bottom: 300px;
         }
     }
     &__button {
         width: 174px;
         background-color: $color_button_subscribe;
         @include Button_style;
         @include Button_link_style;
         box-shadow: 0 0 10px rgba(0,0,0,0.5);
     }&__button:hover {
         @include Button_hover;
     }
     @media (max-width: 375px) {
        &__button {
            width: 100%;
            text-align: center;
        } 
     }
     
     &__input {
         width: 100%;
         height: 54px;
         border: 1px solid #262626;
         color: $font_color_input;
         @include Raleway_Light_17;
         padding-left: 14px;
     }
     @media (max-width: 375px) {
         &__input {
             margin-bottom: 26px;
         }
     }
}
@media (max-width: 375px) {
    .subscribe {
        padding-top: 6px;
        background-position: right top;
    }
}